body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }

  no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

  #cover {
      background-image: url("cover photo.jpg");
      background-size: 100%;
      min-width: 100%;
      min-height: 900px;
      background-repeat: no-repeat;
      background-color: #F8C7CC;

  }

  
  .bg-4 {
    background-color: #000000;
    min-width: 100%;
    height: auto;
    
  }

  i {
    margin-right: 100px;
    margin-left: 100px; 
    margin-top: 50px;
  }

  .me, #hello {
    color: #ffffff;
  }

  #hello {
    letter-spacing: 7px;
    margin-top: 50px;
  }


  #aboutme {
    background-color: #F8C7CC;
    min-width: 100%;
    
  }

  #resume {
    background-color: #F8C7CC;
    min-width: 100%;
    height: 900px;
    letter-spacing: 0px;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  #avatar {
    height: 300px;
    width: 225px;
    margin: 0 auto;
    
  }

  #respic {

    margin: 0 auto;
  }

  p.text, p.hi {
    font-size: 18.5px;
    color: #000000;
  }

  footer {
    min-width: 100%;
  }


  h2, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #ffffff;
  }

  h3 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #ffffff;
  }






  .container {
      padding: 100px 120px;
  }
 
  .carousel-inner img {
      
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 500px;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #FFE2D1;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  
  .nav-tabs li a {
      color: #000000;
  }
  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #F8C7CC;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      
     
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #ffffff !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
      font: 400 15px/1.8 Lato, sans-serif;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #F8C7CC;
      text-decoration: none;
  }  
  textarea {
      resize: none;
  }

  

/* Extra Small Devices, Phones */ 
@media only screen and (max-height  : 640px) {
  div#cover {
    margin-top: 100px;
  }

}


/* Custom, iPhone Retina */ 
@media only screen and (max-height : 667px) {
 div#cover {
  max-height: 100px;
 }

 div#aboutme {
  min-width: 200px;
 }

  div#resume {
  max-height: 600px;
 }

}



/* Small Devices, Tablets */
@media only screen and (max-height : 732px) {
  div#cover {
  min-height: 50px;
 }

 div#aboutme {
  min-width: 200px;
 }

  div#resume {
  max-height: 600px;
 }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-height : 736px) {
  div#cover {
  min-height: 50px;
 }

 div#aboutme {
  min-width: 200px;
 }

  div#resume {
  max-height: 650px;
 }

}


/* Medium Devices, Desktops */
@media only screen and (max-height : 812px) {
   div#cover {
    min-height: 50px;
 }

  div#aboutme {
    min-width: 200px;
 }

 div#resume {
  max-height: 600px;
 }

}

@media only screen and (min-width: 1024px) {
  p.text {
    margin: 0 auto;
  }
  

}











