/*START OF CSS*/


/*START OF BODY AND HEADERS CSS*/

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

body,html {
  margin:0;
  padding:0;
}


no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


h2,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #ffffff;
}

h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #ffffff;
}

h3.name {
  font-size: 20px;
}




/*END OF BODY AND HEADERS CSS*/


/*START OF NAVBAR CSS*/

.nav-tabs li a {
    color: #000000;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #F8C7CC;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
}

.navbar li a,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}


/*  END OF NAVBAR CSS*/


/*START OF COVER PHOTO CSS*/

#cover {
    background-image: url("cover photo.jpg");
    background-size: 100%;
    min-width: 100%;
    /*min-height: 900px;*/
    background-repeat: no-repeat;
    background-color: #F8C7CC;
}


/*  END OF COVER PHOTO CSS*/


/*START OF ICON CSS*/

i {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}


/*  END OF ICON CSS*/


/*  START OF ABOUT ME CSS*/

.me,
#hello {
    color: #ffffff;
}

#hello {
    letter-spacing: 7px;
    margin-top: 50px;
}

.me {
    margin-left: 100px;

}


#aboutme {
    background-color: #F8C7CC;
    min-width: 100%;
}

p.text,
p.hi {
    font-size: 18.5px;
    color: #000000;
    margin: 0 auto;
    text-align: left;
}

.img-responsive {
    max-width: 100%;
    max-height: 800px;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}



/*  END OF ABOUT ME CSS*/


/*START OF CAROUSEL CSS  */

.container {
    padding: 100px 120px;
    height: auto;

}



.carousel-inner img {

    width: 100%;
    /* Set width to 100% */
    margin: auto;
    height: 700px;
}

.carousel-caption h3 {
    color: #ffffff !important;
    letter-spacing: 8px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    background: #FFE2D1;
    color: #bdbdbd;
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#myCarousel2 {
  margin-top: 200px;
  margin-bottom: -200px;
}




/*  END OF CAROUSEL CSS*/


/*START OF RESUME CSS*/

#resume {
    background-color: #F8C7CC;
    min-width: 100%;
    min-height: 1100px;
    letter-spacing: 0px;
}


#respic {
    margin: 0 auto;
}


/*  END OF RESUME CSS*/


/*START OF VIDEOS CSS*/

#video {
    min-height: 1100px;
    background-color: #F8C7CC;
    margin-top: 200px;
    margin-bottom: -200px;

}





/*END OF VIDEOS CSS*/


/*START OF CONTACT CSS*/

footer {
    background-color: #000000;
    color: #f5f5f5;
    padding: 32px;
    font: 400 15px/1.8 Lato, sans-serif;
    min-width: 100%;
   
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #F8C7CC;
    text-decoration: none;
}

.bg-4 {
    background-color: #000000;
    min-width: 100%;
    
}

#avatar {
    height: 300px;
    width: 225px;
    margin: 0 auto;
}

textarea {
    resize: none;
}



/*END OF CONTACT CSS*/


/*  START OF MEDIA QUERIES*/


/* Extra Small Devices, Phones */

@media only screen and (max-height: 640px) {

 
    
    h3.name {
      margin-left: -110px;
      font-size: 12px;
    }

    div#cover {
        margin-top: 100px;
        text-align: left;
        min-height: 100%;
        background-color: #F8C7CC;
    }

    div#aboutme {
        /*margin-top: -950px;*/
    }

    .me {
        margin: 0 auto;
    }

    p.text {
        margin: 0 auto;
    }

    #big {
        margin-bottom: 100px;
    }

    div#resume {
        height: auto;
        /*margin-bottom: -350px;*/
    }



    div#myCarousel2 {
      margin-bottom: -300px;
    }

    div#video {
        margin-top: 300px;
        margin-bottom: -600px;
    }


  

}



/* Custom, iPhone Retina */

@media only screen and (max-height: 667px) {


  div#cover {
    min-height: 100%;
    background-color: #F8C7CC;
    margin-top: 50px;
  }


  h3.name {
      margin-left: -150px;
      font-size: 10px;
    }

    .me {
        margin: 0 auto;
    }

    div#aboutme {
        /*margin-top: -650px;*/
    }

    p.text {
        margin: 0 auto;
    }

    #big {
        margin-bottom: 100px;
    }

    div#resume {
        height: auto;
       /* margin-bottom: -500px;*/
    }

    div#myCarousel2 {
      margin-bottom: -300px;
    }


    div#video {
        margin-top: 300px;
        margin-bottom: -600px;
    }


}

@media only screen and (min-width: 340px) {


    .me {
        margin: 0 auto;
    }

    p.text {
        margin: 0 auto;
    }
}


@media only screen and (min-width: 412px) {
    .me {
        margin: 0 auto;
    }

    p.text {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 460px) {
    .me {
        margin: 0 auto;
    }

    p.text {
        margin: 0 auto;
    }

    #big {
        margin-bottom: 100px;
    }

    
}




/* Small Devices, Tablets */

@media only screen and (max-height: 732px) {
    h3.name {
      margin-left: -200px;
      font-size: 12px;
    }

    div#cover {
        min-height: 100px;
        background-color: #F8C7CC;
    }

    div#aboutme {
        margin-top: -650px;
        min-width: 200px;
    }

    .me {
        margin: 0 auto;
    }

    p.text {
        text-align: left;
    }

    #big {
        margin-bottom: 50px;
    }

    div#resume {
        height: auto;
    }

    div#myCarousel2 {
      margin-bottom: -300px;
    }



}





/* Extra Small Devices, Phones */

@media only screen and (max-height: 736px) {
  h3.name {
      margin-left: -310px;
      font-size: 12px;
    }

    div#cover {
        min-height: 50px;
        background-color: #F8C7CC;
    }

    div#aboutme {
        margin-top: -650px;
    }

    div#resume {
        max-height: 650px;
    }

    .me {
        margin: 0 auto;
    }

    p.text {
        margin: 0 auto;
    }

    #big {
        margin-bottom: 50px;
    }

    div#resume {
        height: auto;
    }


    div#myCarousel2 {
      margin-bottom: -300px;
    }

}



@media only screen and (max-height: 739px) {
  h3.name {
      margin-left: -110px;
    }

    div#cover {
        min-height: 50px;
        background-color: #F8C7CC;
    }

    div#aboutme {
        min-width: 200px;
        margin-top: -650px;
    }

    div#resume {
        min-height: 950px;
        margin-bottom: -200px;
    }

    #big {
        margin-top: -100px;
    }

    div#myCarousel2 {
      margin-bottom: -300px;
    }

}






/* Medium Devices, Desktops */

@media only screen and (max-height: 812px) {
  h3.name {
      margin-left: -110px;
    }

    div#cover {
        min-height: 50px;
        border: none;
        background-color: #F8C7CC;
    }

    div#aboutme {
        margin-top: -650px;
    }

    div#resume {
        max-height: 600px;
        margin-bottom: -300px;
    }

    .me {
        margin: 0 auto;
    }

    #big {
        margin-bottom: -350px;
    }

    div#myCarousel2 {
      margin-bottom: -300px;
    }

}

@media only screen and (min-width: 768px) {
    div#cover {
        min-height: 50px;
        border: none;
    }

    div#aboutme {
        margin-top: -50px;
    }

    div#resume {
        max-height: 600px;
        margin-bottom: -300px;
    }

    .me {
        margin: 0 auto;
    }

    #big {
        margin-bottom: -350px;
    }
}



@media only screen and (min-width: 1440px) {
    div#cover {
        background-image: url("cover photo.jpg");
        background-size: 100%;
        min-width: 100%;
        min-height: 900px;
        background-repeat: no-repeat;
        background-color: #F8C7CC;
    }

    div#aboutme {
        min-width: 200px;
    }

    div#resume {
        max-height: 1000px;
    }

    .me {
        margin: 0 auto;
    }

    #big {
        margin-bottom: 50px;
        margin-top: 10px;
    }


    #contact {
        margin-top: 200px;

    }

    
}

@media only screen and (max-width: 1439px) {
    div#cover {
        background-image: url("cover photo.jpg");
        background-size: 100%;
        min-width: 100%;
        min-height: 900px;
        background-repeat: no-repeat;
        background-color: #F8C7CC;
    }

    div#aboutme {
        min-width: 200px;
    }

    div#resume {
        max-height: 1000px;
    }

    .me {
        margin: 0 auto;
    }

    #big {
        margin-top: 10px;
        margin-bottom: 50px;
    }

  
   
    
    
}


















/*END OF MEDIA QUERIES*/


/*END OF CSS*/